 body
{
    background-image: url(/images/download\ \(1\).jpeg);

}
h1{
    font-style: italic;
    text-decoration: cornsilk;
    text-align: center;
}
.head {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    text-shadow: crimson;

    
}
img{
    display: block;
    border-radius: 50px;
    padding: 5px;
    width: 250px;
}
.important {
    text-align: justify;
    
}